__pycache__/
.vscode/
venv/
.venv
.frontenv
*.egg-info
*.egg-info/

receipts/
*.db
.log

# Environment variables contain private information such as database URL,
# username, password etc., so should not be saved
*.env
